@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Outfit', sans-serif;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}